input[type="text"], input[type="date"], input[type="file"]{
    border: none;
    width: 35rem;
}

.control-label{
    font-size: 1.5rem;
}

.text-config{
    text-align: center;
}

.img-config img{
    height: 30rem;
    width: 30rem;
}

.img-config{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.img-config button{
    width: 15rem;
}

.form-group{
    border: none;
}

.btn-config{
    width: 15rem;
}

.btn-red{
    color: white;
    background-color: rgb(255, 59, 59);
    border-color: 1px solid red;
}

.btn-rosa{
    color: white;
    background-color: #FF9494;
    border-color: 1px solid #FF9494;
}

.enlaces-publi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.enlaces-publi img{
    width: 4rem;
    height: 4rem;
}
