{% extends 'publicaciones/nav.html'%}

{% load static %}
{% load crispy_forms_tags %}

{%block content%}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <h1 class="text-config"> Informacion general</h1>

    <div class="form-content">
        <form method="POST" enctype="multipart/form-data" name = "form_update">
            {% csrf_token %}

            <div class="form_config" style="display: grid;
            grid-template-columns: repeat(2, 1fr);">
                <div class="img-config">
                    <p>Foto actual</p>
                    {%if request.user.photo%}
                        <img class="img-perfil" src="{{request.user.photo.url }}" width="300px" height="300px">
                    {%else%}
                        <img class="img-perfil" src="{% static 'autentificacion/img/gato.jpg' %}" width="300px" height="300px">
                    {%endif%}
                    
                    <button type="submit" class="btn btn-lg btn-config btn-rosa" >Guardar Cambios</button>

                    <div>
                        <a class="btn btn-lg btn-config btn-rosa" href="{% url 'password_change' %}">Cambiar Contraseña</a>
                    </div>

                    <a href="{% url 'delete_account' %}">
                        <input type="button" class="btn btn-lg btn-config btn-red" onclick="return confirm('Estas seguro? Esta accion eliminara tu cuenta por completo de nuestro sitio web  ')" value="Eliminar cuenta"/>
                    </a>
                </div>
                
                <div>
                    {{form|crispy}}    
                </div>
                
            </div>
        </form>
    </div>

    

    <script>
        if(document.querySelector("#photo-clear_id")){
            document.querySelector("#photo-clear_id").remove();
        }
        if(document.querySelector("#div_id_photo > div > a")){
            document.querySelector("#div_id_photo > div > a").remove();
        }
        if(document.querySelector("#div_id_photo > div > label")){
            document.querySelector("#div_id_photo > div > label").remove();
        }    
        div2 = document.querySelector("#div_id_photo > div");
        if(div2){
            div2.removeChild(div2.firstChild);
        }
        if(document.querySelector("#div_id_photo > div > br")){
            document.querySelector("#div_id_photo > div > br").remove();
        }
    </script>
{%endblock%}