{% extends 'publicaciones/nav.html'%}

{% load static %}

{%block content%}
<style>
    img{
        width: 20%;
    }
</style>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="contenido_perfil">

    <div class="cont-perfil-img">

        {% if usuario.photo %}
            <img class="img-perfil" src="{{usuario.photo.url}}" >
    
        {%endif%}
    
        <div class="apartados-perfil">
            <a href="#"> Historia de solicitudes</a>
            <a href="{%url 'create'%}"> Crear publicacion</a>
            <a href="{%url 'configuracion'%}"> Configuracion</a>  
        </div>
    
    </div>
    
    <div class="cont-datosPerfil">
    
        <h2>
            <span>Nombre de usuario: </span>
            {{ usuario.username }}
        </h2>
        <h2>
            <span>Nombre: </span>
            {{ usuario.first_name }}
        </h2>
        <h2>
            <span>Apellido: </span>
            {{ usuario.last_name }}
        </h2>
        <h2>
            <span>Carrera: </span>
            {{ usuario.career }}
        </h2>
        <h2>
            <span>Teléfono: </span>
            {{ usuario.phone }}
        </h2>
    
    </div>

</div>

<div class="publicaciones-perfil">
    <h1>
        Publicaciones de este usuario
    </h1>
    
    <div class="publicaciones-2">
            
        {%for publicacion in publicaciones%}
        
        <div class="card mb-4 sombreado">
            <div class="row g-0">
              {% if publicacion.imagen %}
                <div class="col-md-4">
                    <img src="{{publicacion.imagen.url}}" class="card-img-top">
                </div>
              {% endif %}

              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><span class="span-card">Titulo:</span> {{publicacion.titulo}}</h5>
                    <p class="card-subtitle mb-2 text-muted"><span>Descripcion:</span> {{publicacion.descripcion }}</p>
        
                    <p class="card-subtitle mb-2 text-muted"><span class="span-card">Precio:</span> ${{publicacion.precio}}</p>
    
                    <p class="card-subtitle mb-2 text-muted"><span class="span-card">Autor:</span> {{publicacion.autor}}</p>
                    <p class="card-subtitle mb-2 text-muted"><span class="span-card">Categoria:</span> {{publicacion.categoria}}</p>
                </div>
              </div>
            </div>
        </div>
    
        {%endfor%}
    
    </div>

</div>




{%endblock%}