.nav-item:hover{
	background-color: #FF9494;
}

/* The subnavigation menu */
.subnav {
	float: left;
	overflow: hidden;
}

.navbar-nav{
	gap: 1rem;
}

/* Subnav button */
.subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 0;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}



/* Style the subnav content - positioned absolute */
.subnav-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: #FF9494;
	width: 100%;
	z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.offset-1 {
    margin-left: 1.5rem !important; 
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
	background-color: #FF9494;
}

@media (min-width: 921px){
	.navbar-expand-menu {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.navbar-expand-menu .navbar-collapse {
		display: -ms-flexbox!important;
		display: flex!important;
		gap: 1rem;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}

	.navbar-expand-menu .navbar-toggler {
		display: none;
	}

	.navbar-expand-menu .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
	
}

@media (max-width: 321px){
    .navbar .logo{
		font-size: 1.4rem !important;
	}
}

@media (min-width:322px) and (max-width: 376px){
    .navbar .logo{
		font-size: 1.7rem !important;
	}
}

@media (min-width:377px) and (max-width: 415px){
    .navbar .logo{
		font-size: 2rem !important;
	}
}

@media (min-width:415px) and (max-width: 601px){
    .navbar .logo{
		font-size: 2.3rem !important;
	}
}

@media (min-width:601px){
    .navbar .logo{
		font-size: 2.6rem !important;
	}
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

	text-decoration: none;

	color: white;

    font-size: 2rem;
}

.logo:hover{
	color: #FFD1D1;
	text-decoration: none;
}

.bg-nav{
	background-color: #FF9494;
}

input[type="text"]{
    border-radius: 4px;
    border: 1px solid black;
}

span{
    font-weight: bold;
}

body {
	font-family: sans-serif;
	background-color: #FFF5E4;
}

footer{
	position: fixed; 
	bottom:0; 
	width: 100%
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #444;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
	background-color: rgb(223, 223, 223);
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

