/** Este segmento es el que funciona **/

a.rating{
    text-decoration: none!important;
    color: black;
}

.fa-star{
    font-size: 2rem;
}

.ranking a:not(:checked), .ranking label:not(:checked) {
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.ranking label:hover ~ label,
.ranking input:focus ~ label,
.ranking label:hover, .ranking a:hover,
.ranking a:hover ~ a, .ranking a:focus,
.ranking a:focus ~ a		{
    color: orange;
    cursor: pointer;
}

.ranking {
    direction: rtl;
}

/* Apartir de aquí para abajo es lo que no funciona */

.rating:not(:checked) > a > label:before {
    content:'★ ';
}
.ranking  > a > input:checked ~ label {
    color: #f70;
}
.ranking:not(:checked)  > a > label:hover, .ranking:not(:checked) > label:hover ~ label {
    color: gold;
}
.ranking  > a > input:checked + label:hover, .ranking > input:checked + label:hover ~ label, .ranking > input:checked ~ label:hover, .ranking > input:checked ~ label:hover ~ label, .ranking > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating  > a > label:active {
    position:relative;
}





