{% extends 'publicaciones/nav.html' %}

{% load static %}

{%block content%}


    <h2>
        <a href="{%url 'historial' 1%}"> Mis solicitudes</a>
    </h2>
    
    <h2>
        <a href="{%url 'historial' 2%}"> Pedidos</a>
    </h2>

    
    <div class="publicaciones-1">
        
        {%for soli in solicitudes%}
        <a href="{%url 'publicacion' soli.publicacion.id%}">

        <div class="card mb-4 sombreado">
            <div class="row g-0">
              
                <div class="col-md-4">
                    {% if soli.publicacion.imagen %}
                        <img class="img-publi" src="{{soli.publicacion.imagen.url}}" class="card-img-top">
                    {%else%}
                        <img class="img-publi" src="{% static 'publicaciones/img/sin_imagen.png' %}"class="card-img-top">
                    {% endif %}
                </div>
              

              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><span class="span-card">Titulo:</span> {{soli.publicacion.titulo}}</h5>
                    <p class="card-subtitle mb-2 text-muted"><span>Descripcion:</span> {{soli.publicacion.descripcion }}</p>
                    <p class="card-subtitle mb-2 text-muted"><span class="span-card">Precio:</span> ${{soli.publicacion.precio}}</p>
                    <p class="card-subtitle mb-2 text-muted"><span class="span-card">Autor:</span> {{soli.publicacion.autor}}</p>
                    <p class="card-subtitle mb-2 text-muted"><span class="span-card">Categoria:</span> {{soli.publicacion.categoria}}</p>
                    <p class="card-subtitle mb-2 text-muted"><span class="span-card">Fecha:</span> {{soli.created}}</p>
                </div>
              </div>
            </div>
        </div>
        </a>
        {%endfor%}

    </div>

{% include "publicaciones/paginacion_publicaciones.html" with page_obj=solicitudes  %}

{%endblock%}