{% extends 'publicaciones/nav.html'%}

{% load static %}

{%block content%}
<style>
    img{
        width: 20%;
    }
</style>
<div class="container">
  <section>
    <div style="color: white;">
        Categorias
        {%for cat in categorias%}
            <a href="{%url 'categoria' cat.id%}">{{cat.nombre}}</a>
        {%endfor%}
    </div>
</section>

{%for publicacion in publicaciones%}

    
<div class="col-md-4">
  <div class="card" style="margin: 1em 1em;" >
      <img src="{{publicacion.imagen.url}}" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Titulo: {{publicacion.titulo}}</h5>
          <p class="card-subtitle mb-2 text-muted">Descripcion: {{publicacion.descripcion }}</p>

          <p class="card-subtitle mb-2 text-muted">Precio: ${{publicacion.precio}}</p>
      </div>
      <div class="card-footer">
        <p class="card-subtitle mb-2 text-muted">Autor: {{publicacion.autor}}</p>
        <p class="card-subtitle mb-2 text-muted">Categoria: {{publicacion.categoria}}</p>

      </div>
  </div>
</div>


{%endfor%}


{% include "publicaciones/paginacion_publicaciones.html" with page_obj=publicaciones  %}

{%endblock%}