{% extends 'publicaciones/nav.html' %}

{% load static %}

{%block content%}
<link href="{% static 'publicaciones/assets/css/ranking.css' %}" rel="stylesheet">
<link href="{% static 'publicaciones/assets/css/ranking2.css' %}" rel="stylesheet">



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="contenido_perfil">
    <div class="cont-perfil-img">

        {% if publicacion.imagen %}
            <img class="img-perfil" src="{{publicacion.imagen.url}}" >
        {% else %}
            <img class="img-perfil" src="{% static 'publicaciones/img/sin_imagen.png' %}">
        {%endif%}
    </div>
    
    <div class="cont-datosPerfil">
    
        <h2>
            <span>{{ publicacion.titulo }}</span>
            
        </h2>
        <h2>
            <span>Precio: </span>
            ${{ publicacion.precio }}
        </h2>
        <h2>
            <span>Categoria: </span>
            {{ publicacion.categoria.nombre }}
        </h2>
        <h2>
            <span>Autor: </span>
            <a href = "{%url 'perfil_id' publicacion.autor.id%}">
                {{ publicacion.autor.username }}
            </a>
        </h2>

        <h2>
            <span>Descripcion: </span>
            <p>{{ publicacion.descripcion }}</p>
        </h2>

        <div class="star-wrapper">
            <span class="valoraciones_count">({{valoraciones_count}})</span>
            <a href="{%url 'rating' publicacion.id 5%}" class="fas fa-star s5 {% if publicacion.average_rating > 4 %}checked {% endif %}"></a>
            <a href="{%url 'rating' publicacion.id 4%}" class="fas fa-star s4 {% if publicacion.average_rating > 3 %}checked {% endif %}"></a>
            <a href="{%url 'rating' publicacion.id 3%}" class="fas fa-star s3 {% if publicacion.average_rating > 2 %}checked {% endif %}"></a>
            <a href="{%url 'rating' publicacion.id 2%}" class="fas fa-star s2 {% if publicacion.average_rating > 1 %}checked {% endif %}"></a>
            <a href="{%url 'rating' publicacion.id 1%}" class="fas fa-star s1 {% if publicacion.average_rating > 0 %}checked {% endif %}"></a>
        </div>
        <br>
        
        {%if request.user.id != publicacion.autor.id %}
            <a href="{% url 'solicitar' publicacion.id%}">
                <button class="btn btn-primary" >Solicitar</button>
            </a>
        {%endif%}   
    </div>

</div>
<script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>

{%endblock%}