{% extends 'publicaciones/nav.html' %}

{% load static %}

{%block content%}
<link href="{% static 'publicaciones/assets/css/ranking.css' %}" rel="stylesheet">


<style>
    img{
        width: 20%;
    }

    a.rating{
        text-decoration: none!important;
        color: black;
    }
    
    a.rating:hover{
      color: white;  
    }

    .checked {
        color: orange;
    }

    .checked:hover {
        color: white;
    }

    a{
        text-decoration: none!important;
    }
</style>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="contenido_perfil">
    <div class="cont-perfil-img">

        {% if publicacion.imagen %}
            <img class="img-perfil" src="{{publicacion.imagen.url}}" >
        {%endif%}
    </div>
    
    <div class="cont-datosPerfil">
    
        <h2>
            <span>Titulo: </span>
            {{ publicacion.titulo }}
        </h2>
        <h2>
            <span>Descripcion: </span>
            {{ publicacion.descripcion }}
        </h2>
        <h2>
            <span>Precio: </span>
            {{ publicacion.precio }}
        </h2>
        <h2>
            <span>Categoria: </span>
            {{ publicacion.categoria.nombre }}
        </h2>
        <h2>
            <span>Autor: </span>
            <a href = "{%url 'perfil_id' publicacion.autor.id%}">
                {{ publicacion.autor.username }}
            </a>
        </h2>

        <h5 class="card-title">
            <a class="rating" href="{%url 'rating' publicacion.id 1%}">
                <span class="fa fa-star {% if publicacion.average_rating > 0 %}checked {% endif %}" title = "1 Estrella"></span>
            </a>
            <a class="rating"  href="{%url 'rating' publicacion.id 2%}">
                <span class="fa fa-star {% if publicacion.average_rating > 1 %}checked {% endif %}" title = "2 Estrella"></span>
            </a>
            <a class="rating" href="{%url 'rating' publicacion.id 3%}">            
                <span class="fa fa-star {% if publicacion.average_rating > 2 %}checked {% endif %}" title = "3 Estrella"></span>
            </a>
            <a class="rating" href="{%url 'rating' publicacion.id 4%}">
                <span class="fa fa-star {% if publicacion.average_rating > 3 %}checked {% endif %}" title = "4 Estrella"></span>
            </a>
            <a class="rating" href="{%url 'rating' publicacion.id 5%}">
                <span class="fa fa-star {% if publicacion.average_rating > 4 %}checked {% endif %}" title = "5 Estrella"></span>
            </a>
        </h5>
        <h5>
            Esta publicacion ha sido valorada por {{valoraciones_count}} usuarios
        </h5>

        {%if request.user.id != publicacion.autor.id %}
            <a href="{% url 'solicitar' publicacion.id%}">
                <button class="btn btn-primary" >Solicitar</button>
            </a>
        {%endif%}   
    </div>

</div>


{%endblock%}