{% extends 'publicaciones/nav.html' %}

{% load static %}

{%block content%}


<style>
    img{
        width: 20%;
    }
</style>


<div class="contenido_perfil">

    <div class="cont-perfil-img">

        {% if publicacion.imagen %}
            <img class="img-perfil" src="{{publicacion.imagen.url}}" >
        {%endif%}
    </div>
    
    <div class="cont-datosPerfil">
    
        <h2>
            <span>Titulo: </span>
            {{ publicacion.titulo }}
        </h2>
        <h2>
            <span>Descripcion: </span>
            {{ publicacion.descripcion }}
        </h2>
        <h2>
            <span>Precio: </span>
            {{ publicacion.precio }}
        </h2>
        <h2>
            <span>Categoria: </span>
            {{ publicacion.categoria.nombre }}
        </h2>
        <h2>
            <span>Autor: </span>
            {{ publicacion.autor.username }}
        </h2>
 
        <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1">1 star</label>
        </fieldset>
    </div>

</div>


{%endblock%}